#navbar {
  width: 99.8%;
  height: 50px;
  border: 1px solid black;
}

#navbar > button {
  padding: 10px;
  width: 10%;

  border-radius: 30px;
  margin-top: 5px;
  background-color: black;
  color: whitesmoke;
}
