#card{
    border: 1px solid black;
   
    width: 12%;
    margin-left: 42%;
    margin-top: 2%;
    padding: 2%;
    border-radius: 40px;
}

.avatar-img{
    border: 1px solid rgb(128, 115, 115);
    border-radius: 40px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 10%;
    margin-left: 45%;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }